<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="837a77">  <td>18/11/12 17:20:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Successful_Login.Driver_Creation()[pri:0, instance:anotherListener.Successful_Login@51efea79]">&gt;&gt;Driver_Creation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1833638914</td>   <td></td> </tr>
<tr bgcolor="837a77">  <td>18/11/12 17:20:44</td>   <td>27866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Successful_Login.Calling()[pri:0, instance:anotherListener.Successful_Login@51efea79]">Calling</td> 
  <td>main@1833638914</td>   <td></td> </tr>
<tr bgcolor="837a77">  <td>18/11/12 17:21:05</td>   <td>48933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Successful_Login.man()[pri:1, instance:anotherListener.Successful_Login@51efea79]">man</td> 
  <td>main@1833638914</td>   <td></td> </tr>
</table>
