<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7471b5">  <td>18/11/12 19:06:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Successful_Login.Calling()[pri:0, instance:anotherListener.Successful_Login@7f9a81e8]">Calling</td> 
  <td>main@1833638914</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/11/12 19:06:25</td>   <td>-10650</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Successful_Login.Driver_Creation()[pri:0, instance:anotherListener.Successful_Login@7f9a81e8]">&gt;&gt;Driver_Creation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1833638914</td>   <td></td> </tr>
</table>
