<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NewSuite_2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6773bc">  <td>18/11/12 16:17:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Another_class_2.facebookTitle()[pri:0, instance:Package_Listener.Another_class_2@3a82f6ef]">facebookTitle</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/11/12 16:17:09</td>   <td>313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Another_class_2.fb_verification()[pri:0, instance:Package_Listener.Another_class_2@3a82f6ef]">fb_verification</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="e46e8f">  <td>18/11/12 16:16:43</td>   <td>-25682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Another_class_01.googleTitle()[pri:0, instance:Package_Listener.Another_class_01@5d5eef3d]">googleTitle</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="e46e8f">  <td>18/11/12 16:16:53</td>   <td>-15548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Another_class_01.googleTitle()[pri:0, instance:Package_Listener.Another_class_2@3a82f6ef]">googleTitle</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="e46e8f">  <td>18/11/12 16:16:53</td>   <td>-15561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Another_class_01.verification()[pri:0, instance:Package_Listener.Another_class_01@5d5eef3d]">verification</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="e46e8f">  <td>18/11/12 16:17:09</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Another_class_01.verification()[pri:0, instance:Package_Listener.Another_class_2@3a82f6ef]">verification</td> 
  <td>main@1580893732</td>   <td></td> </tr>
</table>
