<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test_Suite_01</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58d72">  <td>18/08/21 13:09:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Another_class_01.googleTitle()[pri:0, instance:Package_Listener.Another_class_01@23ceabc1]">googleTitle</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>18/08/21 13:09:33</td>   <td>10960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Another_class_01.verification()[pri:0, instance:Package_Listener.Another_class_01@23ceabc1]">verification</td> 
  <td>main@1615780336</td>   <td></td> </tr>
</table>
