<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NewOne_1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5a885">  <td>18/08/21 13:19:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Another_class_01.googleTitle()[pri:0, instance:Package_Listener.Another_class_01@4439f31e]">googleTitle</td> 
  <td>main@1204167249</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>18/08/21 13:19:29</td>   <td>12941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Another_class_01.verification()[pri:0, instance:Package_Listener.Another_class_01@4439f31e]">verification</td> 
  <td>main@1204167249</td>   <td></td> </tr>
</table>
